{% extends 'base/base.html'%}
{% load static %}

{% block title %}
    <h1 class="mt-5">Tabla de registros de proyectos</h1>
{% endblock %}
{% block content %}
<table class="table table-responsive">
    <thead>
        <tr>
            <th scope="col">Nombre</th>
            <th scope="col">Información</th>
            
        </tr>
    </thead>
            <tbody>
                {% if object_list %}
				{% for proyecto in object_list %}
				<tr>
					<td>{{proyecto.nombre}}</td>
                    <td>{{proyecto.informacion}}</td>
					<td>
						<a class="btn btn-secondary" href="{% url 'proyecto:proyecto_editar' proyecto.id %}">Editar</a>
						<a class="btn btn-danger" href="{% url 'proyecto:proyecto_eliminar' proyecto.id %}">Eliminar</a>
					</td>
				</tr>
				{% endfor %}
				{% else %}
				<h1>No hay registros</h1>
				{% endif %}
            </tbody>
</table>

{% endblock %}

{% block boton %}
    {% if object_list %}
        <a class="nav-link" href="{% url 'proyecto:proyecto_excel' %}">Reporte Excel</a>
    {% endif %}
{% endblock  %}
