{% extends 'base/base.html'%}
{% load static %}

{% block content %}
<table class="table table-responsive">
    <thead>
        <tr>
            <th scope="col">Especie</th>
            <th scope="col">Familia</th>
            <th scope="col">Nombre comun</th>
            <th scope="col">Departamento</th>
            <th scope="col">Municipio</th>
            <th scope="col">Localidad</th>
            <th scope="col">Latitud</th>
            <th scope="col">Longitud</th>
            <th scope="col">Autor</th>
            <th scope="col">Fecha de captura</th>

        </tr>
    </thead>
            <tbody>
                {% if object_list %}
				{% for registro in object_list %}
				<tr>
					<td>{{registro.especie}}</td>
                    <td>{{registro.familia}}</td>
                    <td>{{registro.nombrecomun}}</td>
                    <td>{{registro.departamento}}</td>
                    <td>{{registro.municipio}}</td>
                    <td>{{registro.localidad}}</td>
                    <td>{{registro.latitud}}</td>
                    <td>{{registro.longitud}}</td>
                    <td>{{registro.autor}}</td>
                    <td>{{registro.fechacaptura}}</td>
					
					<td>
						<a class="btn btn-secondary" href="{% url 'registro:registro_editar' registro.id %}">Editar</a>
						<a class="btn btn-danger" href="{% url 'registro:registro_eliminar' registro.id %}">Eliminar</a>
                        <button onclick="abrir_modal('{% url 'registro:registro_detalle' registro.id %}')" class="btn btn-info">Detalles</button>
					</td>
				</tr>
				{% endfor %}
				{% else %}
				<h1>No hay registros</h1>
				{% endif %}
            </tbody>
</table>
<div class="modal fade" id="detalle" role="dialog">

</div>

{% endblock %}

{% block extrajs %}
    
    <script type="text/javascript">
        var $ = jQuery.noConflict();
        function abrir_modal(url){
            $('#detalle').load(url, function (){
                $(this).modal('show');
            });
        }
    </script>
{% endblock  %}

{% block boton %}
    {% if object_list %}
        <a class="nav-link" href="{% url 'registro:registro_excel' %}">Reporte Excel</a>
    {% endif %}
{% endblock  %}
